<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epn.proyectomoviles">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".ServicioRealizadoActivity" android:parentActivityName=".SeleccionHorarioActivity"></activity>
        <activity android:name=".ServicioRealizadoTimeActivity" android:parentActivityName=".SeleccionHorarioActivity"/>
        <activity android:name=".SeleccionEsperaActivity" />
        <activity android:name=".SeleccionHorarioActivity" android:parentActivityName=".SeleccionDiaActivity"/>
<!--        <activity android:name=".SeleccionDiaActivity" />-->
        <activity android:name=".SeleccionDiaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>